<div id="booklist" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/books/booklist.less</em>, <em>assets/js/pages/books/booklist.page.js</em>, and <em>api/controllers/books/view-booklist.js</em>.)</p>
  <ul>
    <li v-for="data in books">{{data.title}}</li>
  </ul>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
