<div id="book" v-cloak>

  <h1>{{book.title}}</h1>
  
  <ul>
    <li v-for="data in book">{{data.title}}</li>
  </ul>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
