<div id="articlelist" v-cloak>

  <section class="wrapper">
    <div class="container">
      <header class="mt-5">
        <h2>List of Articles</h2>
      </header>

        <div class="row">
            <card v-for="data in articles" :url="'articles'" :data="data"></card>
        </div>
    </div>
  </section>
      
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
