<div id="articlelist" v-cloak>

  <section class="wrapper">
    <div class="container">
      <header class="mt-5 d-flex justify-content-between">
        <h4>List of Articles</h4>
        <select class="custom-select" v-model="sortedOption" width="auto" @change="sortedList(sortedOption)">
          <option value="default" disabled>Sort by:</option>
          <option value="dateUp"> Date (Asc)</option>
          <option value="dateDown"> Date (Desc)</option>
          <option value="nameUp">Name (Asc)</option>
          <option value="nameDown">Name (Desc)</option>
        </select>
      </header>

        <div class="row">
            <card v-for="data in articles" :url="'articles'" :data="data"/>
        </div>
    </div>
  </section>
      
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
