<div id="article" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/articles/article.less</em>, <em>assets/js/pages/articles/article.page.js</em>, and <em>api/controllers/articles/view-article.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
