<div id="article" v-cloak>

  <section class="wrapper">
    <div class="container">
       
        <ol class="breadcrumb bg-light px-0 mt-2">
          <li class="breadcrumb-item"><a href="/articles">Articles</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{article[0].title.slice(0, 31)}}<span v-if="article[0].title.length > 31">...</span></li>
        </ol>
      
        <record :data="article"></record>
        <comments :data="article"></comments>
        
    </div>
  </section>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
